FASTQ_Generation_2023-09-06_06_48_25Z-691456767
Genome_Files
MG1655_index
organized_fastaqs
quants
RNA_Seq_Run20230906
Software
Transcriptome_files
RNAanalysis.code-workspace
.DS_Store
fastq_merged/NC_1_R1_001.fastq.gz
fastq_merged/NC_3_R1_001.fastq.gz
fastq_merged/NC_ind_1_R1_001.fastq.gz
fastq_merged/NC_ind_3_R1_001.fastq.gz
fastq_merged/s4_1_R1_001.fastq.gz
fastq_merged/s4_3_R1_001.fastq.gz
fastq_merged/s4_ind_1_R1_001.fastq.gz
fastq_merged/s4_ind_3_R1_001.fastq.gz
fastq_merged/WT_1_R1_001.fastq.gz
fastq_merged/WT_3_R1_001.fastq.gz
fastq_merged/WT_ind_1_R1_001.fastq.gz
fastq_merged/WT_ind_3_R1_001.fastq.gz
FastQC_outputs/multiqc_report.html
FastQC_outputs/NC_1_R1_001_fastqc.html
FastQC_outputs/NC_1_R1_001_fastqc.zip
FastQC_outputs/NC_3_R1_001_fastqc.html
FastQC_outputs/NC_3_R1_001_fastqc.zip
FastQC_outputs/NC_ind_1_R1_001_fastqc.html
FastQC_outputs/NC_ind_1_R1_001_fastqc.zip
FastQC_outputs/NC_ind_3_R1_001_fastqc.html
FastQC_outputs/NC_ind_3_R1_001_fastqc.zip
FastQC_outputs/s4_1_R1_001_fastqc.html
FastQC_outputs/s4_1_R1_001_fastqc.zip
FastQC_outputs/s4_3_R1_001_fastqc.html
FastQC_outputs/s4_3_R1_001_fastqc.zip
FastQC_outputs/s4_ind_1_R1_001_fastqc.html
FastQC_outputs/s4_ind_1_R1_001_fastqc.zip
FastQC_outputs/s4_ind_3_R1_001_fastqc.html
FastQC_outputs/s4_ind_3_R1_001_fastqc.zip
FastQC_outputs/WT_1_R1_001_fastqc.html
FastQC_outputs/WT_1_R1_001_fastqc.zip
FastQC_outputs/WT_3_R1_001_fastqc.html
FastQC_outputs/WT_3_R1_001_fastqc.zip
FastQC_outputs/WT_ind_1_R1_001_fastqc.html
FastQC_outputs/WT_ind_1_R1_001_fastqc.zip
FastQC_outputs/WT_ind_3_R1_001_fastqc.html
FastQC_outputs/WT_ind_3_R1_001_fastqc.zip
FastQC_outputs/multiqc_data/multiqc_citations.txt
FastQC_outputs/multiqc_data/multiqc_data.json
FastQC_outputs/multiqc_data/multiqc_fastqc.txt
FastQC_outputs/multiqc_data/multiqc_general_stats.txt
FastQC_outputs/multiqc_data/multiqc_sources.txt
FastQC_outputs/multiqc_data/multiqc.log
Trimmed_FastQC_outputs/multiqc_report.html
Trimmed_FastQC_outputs/NC_1_R1_001_fastqc.html
Trimmed_FastQC_outputs/NC_1_R1_001_fastqc.zip
Trimmed_FastQC_outputs/NC_3_R1_001_fastqc.html
Trimmed_FastQC_outputs/NC_3_R1_001_fastqc.zip
Trimmed_FastQC_outputs/NC_ind_1_R1_001_fastqc.html
Trimmed_FastQC_outputs/NC_ind_1_R1_001_fastqc.zip
Trimmed_FastQC_outputs/NC_ind_3_R1_001_fastqc.html
Trimmed_FastQC_outputs/NC_ind_3_R1_001_fastqc.zip
Trimmed_FastQC_outputs/s4_1_R1_001_fastqc.html
Trimmed_FastQC_outputs/s4_1_R1_001_fastqc.zip
Trimmed_FastQC_outputs/s4_3_R1_001_fastqc.html
Trimmed_FastQC_outputs/s4_3_R1_001_fastqc.zip
Trimmed_FastQC_outputs/s4_ind_1_R1_001_fastqc.html
Trimmed_FastQC_outputs/s4_ind_1_R1_001_fastqc.zip
Trimmed_FastQC_outputs/s4_ind_3_R1_001_fastqc.html
Trimmed_FastQC_outputs/s4_ind_3_R1_001_fastqc.zip
Trimmed_FastQC_outputs/WT_1_R1_001_fastqc.html
Trimmed_FastQC_outputs/WT_1_R1_001_fastqc.zip
Trimmed_FastQC_outputs/WT_3_R1_001_fastqc.html
Trimmed_FastQC_outputs/WT_3_R1_001_fastqc.zip
Trimmed_FastQC_outputs/WT_ind_1_R1_001_fastqc.html
Trimmed_FastQC_outputs/WT_ind_1_R1_001_fastqc.zip
Trimmed_FastQC_outputs/WT_ind_3_R1_001_fastqc.html
Trimmed_FastQC_outputs/WT_ind_3_R1_001_fastqc.zip
Trimmed_FastQC_outputs/multiqc_data/multiqc_citations.txt
Trimmed_FastQC_outputs/multiqc_data/multiqc_data.json
Trimmed_FastQC_outputs/multiqc_data/multiqc_fastqc.txt
Trimmed_FastQC_outputs/multiqc_data/multiqc_general_stats.txt
Trimmed_FastQC_outputs/multiqc_data/multiqc_sources.txt
Trimmed_FastQC_outputs/multiqc_data/multiqc.log
Trimmed_fastqs/NC_1_R1_001.fastq.gz
Trimmed_fastqs/NC_3_R1_001.fastq.gz
Trimmed_fastqs/NC_ind_1_R1_001.fastq.gz
Trimmed_fastqs/NC_ind_3_R1_001.fastq.gz
Trimmed_fastqs/s4_1_R1_001.fastq.gz
Trimmed_fastqs/s4_3_R1_001.fastq.gz
Trimmed_fastqs/s4_ind_1_R1_001.fastq.gz
Trimmed_fastqs/s4_ind_3_R1_001.fastq.gz
Trimmed_fastqs/WT_1_R1_001.fastq.gz
Trimmed_fastqs/WT_3_R1_001.fastq.gz
Trimmed_fastqs/WT_ind_1_R1_001.fastq.gz
Trimmed_fastqs/WT_ind_3_R1_001.fastq.gz
merge_fastqs
